
.bg-image {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    background-color: #f0f4f8;
    width: 100%; 
    height: 100%; 
     
  }
  
  .text-container {
    flex: 1; 
    text-align: left; 
    padding: 20px; 
  }
  
  .text-container h1 {
    display: flex;
    font-size: 50px;
    padding: 25px;
    padding-bottom: 0%;
    margin: 0 0 10px 0; 
    color: #1d4ed8;
  }
  
  
  .text-container p {
    font-size: 30px; 
    padding:20px;
     padding-top:0cap;
    color: #4b5563; 
  }
  
  .image-container {
    flex: 1; 
    padding-left: 20px;
    text-align: right; 
    display: flex;
  }
  
  .image-container img {
    width: 50rem;   
    max-width: 100%; 
    height: auto;
    border-radius: 10px; 
  }

.text-container button
{
  display: flex;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.705);
 padding: 10px;
 margin-left: 220px;
 padding-left: 10px;
color:black;

}
.text-container button:hover {
  color:whitesmoke;
}